[Unit]
Description='Configure Multi-Gen LRU settings'
RequiresMountsFor=/sys/kernel/mm /run
ConditionUser=@system
AssertPathExists=/etc/conf.d/mglru
AssertDirectoryNotEmpty=/sys/kernel/mm/lru_gen

[Service]
Type=oneshot
RemainAfterExit=yes

# MGLRU_MIN_TTL specifies a minimum age in miliseconds before a page is
# considered for eviction by MGLRU. Any pages that have been accessed
# more recently than this will not be evicted.
#
# By default, this is disabled, but enabling it can help reduce lag and
# jitter under high memory pressure.  Setting this too high will
# significantly increase the risk of the global OOM killer being invoked.
#
# A value of 1000 (corresponding to 1 second) is generally reasonable
# for most systems that want this to be enabled.
Environment=MGLRU_MIN_TTL=0

ExecStart=/bin/sh -c 'echo "${MGLRU_MIN_TTL}" > /sys/kernel/mm/lru_gen/min_ttl_ms'
ExecStart=/bin/sh -c 'echo Y > /sys/kernel/mm/lru_gen/enabled'

# Disable and restore kernel defaults on exit
ExecStop=/bin/sh -c 'echo N > /sys/kernel/mm/lru_gen/enabled'
ExecStop=/bin/sh -c 'echo 0 > /sys/kernel/mm/lru_gen/min_ttl_ms'

[Install]
WantedBy=basic.target
