[Unit]
Description=Track whether the system glsa-notify target is active or not

[Timer]
Persistent=true
OnUnitActiveSec=900
AccuracySec=900

[Install]
WantedBy=emerge-user-timers.target
Also=emerge-user-timer-delay.timer
