[Unit]
Description=Daily cleanup of old binary packages
RequiresMountsFor=/var/cache/binpkgs

[Timer]
Persistent=true
OnCalendar=daily

[Install]
WantedBy=timers.target
