[Unit]
Description=Daily cleanup of old distfiles
RequiresMountsFor=/var/cache/distfiles

[Timer]
Persistent=true
OnCalendar=daily

[Install]
WantedBy=timers.target
