[Unit]
Description=Clean up old distfiles
RequiresMountsFor=/var/cache/distfiles

[Service]
Type=oneshot
User=root
Group=root
ExecStart=eclean -dv distfiles
