[Unit]
Description=Synchronize portage repositories
RequiresMountsFor=/var/db/repos
Wants=network-online.target
After=network-online.target emerge-sync-done.target
Conflicts=emerge-sync-done.target
OnSuccess=emerge-sync-done.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=emerge --sync
