[Unit]
Description='Configure Transparent Hugepage settings'
RequiresMountsFor=/sys/kernel/mm /run
ConditionUser=@system
AssertPathExists=/etc/conf.d/thp
AssertDirectoryNotEmpty=/sys/kernel/mm/transparent_hugepage

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/conf.d/thp

ExecStart=/bin/sh -c '[ -n "${THP_DEFRAG}" ] && echo "${THP_DEFRAG}" > /sys/kernel/mm/transparent_hugepage/defrag'
ExecStart=/bin/sh -c '[ -n "${THP_SHMEM}" ] && echo "${THP_SHMEM}" > /sys/kernel/mm/transparent_hugepage/shmem_enabled'
ExecStart=/bin/sh -c '[ -n "${THP_USE_ZERO_PAGE}" ] && echo "${THP_USE_ZERO_PAGE}" > /sys/kernel/mm/transparent_hugepage/use_zero_page'
ExecStart=/bin/sh -c '[ -n "${THP_MODE}" ] && echo "${THP_MODE}" > /sys/kernel/mm/transparent_hugepage/enabled'
ExecStart=/bin/sh -c '[ -n "${THP_KHUGEPAGED_PAGES_TO_SCAN}" ] && echo "${THP_KHUGEPAGED_PAGES_TO_SCAN}" > /sys/kernel/mm/transparent_hugepage/khugepaged/pages_to_scan'
ExecStart=/bin/sh -c '[ -n "${THP_KHUGEPAGED_SCAN_SLEEP_MILLISECS}" ] && echo "${THP_KHUGEPAGED_SCAN_SLEEP_MILLISECS}" > /sys/kernel/mm/transparent_hugepage/khugepaged/scan_sleep_millisecs'
ExecStart=/bin/sh -c '[ -n "${THP_KHUGEPAGED_ALLOC_SLEEP_MILLISECS}" ] && echo "${THP_KHUGEPAGED_ALLOC_SLEEP_MILLISECS}" > /sys/kernel/mm/transparent_hugepage/khugepaged/alloc_sleep_millisecs'

ExecStop=/bin/sh -c 'echo never > /sys/kernel/mm/transparent_hugepage/enabled'
ExecStop=/bin/sh -c 'echo never > /sys/kernel/mm/transparent_hugepage/defrag'
ExecStop=/bin/sh -c 'echo never > /sys/kernel/mm/transparent_hugepage/shmem_enabled'
ExecStop=/bin/sh -c 'echo 1 > /sys/kernel/mm/transparent_hugepage/use_zero_page'
ExecStop=/bin/sh -c 'echo 4096 > /sys/kernel/mm/transparent_hugepage/khugepaged/pages_to_scan'
ExecStop=/bin/sh -c 'echo 10000 > /sys/kernel/mm/transparent_hugepage/khugepaged/scan_sleep_millisecs'
ExecStop=/bin/sh -c 'echo 60000 > /sys/kernel/mm/transparent_hugepage/khugepaged/alloc_sleep_millisecs'

[Install]
WantedBy=basic.target
