[Unit]
Description=Daily synchronization of portage repositories
RequiresMountsFor=/var/db/repos
Wants=network-online.target
After=network-online.target

[Timer]
Persistent=true
OnCalendar=daily

[Install]
WantedBy=timers.target
