[Unit]
Description=Track whether the system emerge-sync-done target is active or not

[Timer]
Persistent=true
OnCalendar=*:00/15
AccuracySec=900

[Install]
WantedBy=timers.target
