[Unit]
Description=Daily check if system is affected by any Gentoo Linux Security Advisories
RequiresMountsFor=/var/db/repos

[Timer]
Persistent=true
OnCalendar=daily

[Install]
WantedBy=timers.target
