[Unit]
Description=Clean up old binary packages
RequireMountsFor=/var/cache/binpkgs

[Service]
Type=oneshot
User=root
Group=root
ExecStart=eclean -dv packages
